body {
  background-color: rgb(2, 0, 0);
}
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400&display=swap');
.wallPaper {
  background-image: url('../components/common/images/Hanky-Panky-in-Budapest.jpg');
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.homestyle {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  width:900px;
  height:700px;
  color:lightgray;
  // margin: 20px 0px;
  h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    font-weight: lighter;
    padding:20px 20px 0 20px;
  }
  h3 {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    font-weight: lighter;
    padding:0px 20px 20px 20px;
  }
}
.navbarstyle {
  display:flex;
  justify-content: space-around;
  background-color: rgb(69, 14, 14);
  height: 60px;
  color:lightgray;
  margin:20px 0px 0px 0px;
  font-family: 'Roboto', sans-serif;
}
a {
  color:rgb(155, 153, 153);
  text-decoration: none;
  font-size: 25px;
  padding:15px
}
.cocktailCard {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  background-color:black;
  // width:600px;
  color:lightgray;
  padding:20px;
  border: grey solid 1px;
  padding:20px;
  width:850px;
  img {
    width:400px;
  }
  h4{
    font-weight: lighter;
    font-size: 15px;
  }
}
.innercard {
  display:flex;
  flex-direction: row; 
  align-items:flex-start;
  // padding:15px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 400px;
  .buttonImage {
    width:50px;
    height:50px;
    margin: 10px 25px;
  }
}
.cocktailText {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: stretch;
  padding:0 15px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 350px;
  h2{
    font-size:25px;
    padding:5px;
    margin:10px 0px 0px 0px;
    text-decoration: underline
  }
}
.buttonDiv {
  .buttonImage {
    width:50px;
    height:50px;
  }
}
.invisible {
  height:0px;
  width:0px;
}
.error-page{
  display:flex;
  align-items: flex-end;
  position: absolute;
  margin-left: -480px;
  background-repeat: no-repeat;
  background-image: url('../components/common/images/errorPage.jpg');
  background-image: 80%;
  height: 500px;
  width: 70%;
  background-size: 100%;
  color: white;
  font-size: 47px;
  font-family: 'Chelsea Market', cursive;
  border: solid 3PX;
}
.errorText {
  padding:20px;
}
.cocktailTitle {
  display:flex;
  align-items:center;
  justify-content: flex-start;
}
ul {
  min-height:95px;
  padding:0px
}